.box {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FFF;
}

#red-box {
    background-color: #F00;
}

#orange-box {
    background-color: #FFA500;
    margin-left: 30px;
}

#yellow-box {
    background-color: #FF0;
    margin-left: 60px;
}

#green-box {
    background-color: #008000;
    margin-left: 90px;
}

#blue-box {
    background-color: #00F;
    margin-left: 120px;
}

#violet-box {
    background-color: #EE82EE;
    margin-left: 150px;
}