h1 {
    color: #716E61;
    text-align: center;
    font-weight: 400;
}

.header-background {
    box-sizing: border-box;
    background-color: #F9F9F9;
    opacity: .7;

}

.jumbotron {
    background-image: url(../img/pizza.png);
    padding-bottom: 70px;
}

.hidden-xs


background-property

inline-style