header>h1 {
    text-align: center;
    font-weight: bolder;
}

body {
    background-color: #F2F2F2;
}

.label {
    font-size: 17px;
    font-family: Helvetica Neue, Helvetica, Segoe UI, Tahoma,Arial, sans-serif;
    text-align: center;
    font-weight: normal;
}

.container {
    border: 1px solid rgba(0, 0, 0, 0.38);
    display: block;
    height: 160px;
    width: 257px;
    position: relative;
    float: left;
    margin-left: 10%;
}

#blue-square {
    border-style: hidden;
    background-color: #3C3B6E;
    height: 87px;
    width: 97px;
    position: absolute;
    top: 0;
    left: 0;
}

#blue-square>img{
    height: 100%;
    width: 100%;
}

.red {
background-color: #BB133E;
}

.white {
    background-color: white;
}

.stripe {
    height: 12.3px;
    width: 100%;
}

#japan-background {
    height: 100%;
    width: 100%;
    background-color: #FFF;
    position: relative;
}

.japan-circle {
    background-color: #F00;
    height: 87px;
    width: 87px;
    position: absolute;
    border-radius: 100%;
    top: 37px;
    left: 80px;
}

#uk {
    background-color: #FFF;
    position: relative;
}

.thick {
    background-color: #F00;
}

#horizontal {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 70px;
}

#vertical {
    height: 100%;
    width: 20px;
    position: absolute;
    left: 119px;
    bottom: 0;
}

#top-left {
    width: 0;
    height: 0;
    border-top: 47px solid blue;
    border-left: 62px solid transparent;
    position: absolute;
    top: 0;
    right: 145px;
}

#top-right {
    width: 0;
    height: 0;
    border-top: 47px solid blue;
    border-right: 62px solid transparent;
    position: absolute;
    top: 0;
    left: 145px;
}

#bottom-left {
    width: 0;
    height: 0;
    border-bottom: 47px solid blue;
    border-left: 62px solid transparent;
    position: absolute;
    bottom: 0;
    right: 145px;
}

#bottom-right {
    width: 0;
    height: 0;
    border-bottom: 47px solid blue;
    border-right: 62px solid transparent;
    position: absolute;
    bottom: 0;
    left: 145px;
}

#top-left-side {
    width: 0;
    height: 0;
    border-top: 47px solid blue;
    border-left: 62px solid transparent;
    position: absolute;
    top: 19px;
    left: 0;
    transform: rotate(180deg);
}

#top-right-side {
    width: 0;
    height: 0;
    border-top: 47px solid blue;
    border-right: 62px solid transparent;
    position: absolute;
    top: 19px;
    right: 0;
    transform: rotate(180deg);
}

#bottom-left-side {
    width: 0;
    height: 0;
    border-bottom: 47px solid blue;
    border-left: 62px solid transparent;
    position: absolute;
    bottom: 19px;
    left: 0;
    transform: rotate(180deg);
}

#bottom-right-side {
    width: 0;
    height: 0;
    border-bottom: 47px solid blue;
    border-right: 62px solid transparent;
    position: absolute;
    bottom: 19px;
    right: 0px;
    transform: rotate(180deg);
}

.parallelogram {
    background: red;
}

#denmark {
    margin-top: 60px;
    background-color: #F00;
    position: relative;
}

.denmark-lines {
    background-color: #FFF;
    position: absolute;
}

#denmark-horizontal {
    width: 100%;
    height: 12%;
    top: 50%;
}

#denmark-vertical {
    height: 100%;
    width: 5%;
    left: 25%;
}

#russia {
    margin-top: 60px;
    background-color: #FFF;
    position: relative;
}

.russia-stripes {
    position: absolute;
}

#russia-blue {
    background-color: #0000CD;
    width: 100%;
    height: 33.3%;
    top: 33.3%;
}

#russia-red {
    background-color: #F00;
    width: 100%;
    height: 33.4%;
    top: 66.4%;
}

#ireland {
    margin-top: 60px;
    background-color: #FFF;
    position: relative;
}

.ireland-stripes{
    position: absolute;
}

#ireland-green {
    background-color: #00AE00;
    height: 100%;
    width: 33.4%;
    left: 0%;
}

#ireland-orange {
    background-color: #FFA500;
    height: 100%;
    width: 33.3%;
    right: 0%;
}

#ireland {
    margin-top: 60px;
    background-color: #FFF;
    position: relative;
}

.ireland-stripes{
    position: absolute;
}

#sweden {
    margin-top: 60px;
    background-color: #FFF;
    position: relative;
}

.sweden {
    position: absolute;
}

.sweden-lines {
    background-color: #F00;
}

#sweden-horizontal {
    width: 100%;
    height: 12%;
    top: 58%;
}

#sweden-vertical {
    height: 100%;
    width: 5%;
    left: 25%;
}

.rectangle {
    background-color: #0000CD;
}

#top-large-box {
    height: 87px;
    width: 173px;
    top: 0%;
    right: 0%;
}

#bottom-large-box {
    height: 42px;
    width: 173px;
    bottom: 0%;
    right: 0%;
}

#top-small-box {
    height: 87px;
    width: 57px;
    top: 0%;
    left: 0%;
}

#bottom-small-box {
    height: 42px;
    width: 57px;
    bottom: 0%;
    left: 0%;
}

#bolivia {
    margin-top: 60px;
    background-color: #FF0;
    position: relative;
}

.bolivia-stripes {
    position: absolute;
}

#bolivia-red {
    background-color: #F00;
    width: 100%;
    height: 33.3%;
    top: 0%;
}

#bolivia-green {
    background-color: #008000;
    width: 100%;
    height: 33.4%;
    bottom: 0%;
}

#switzerland {
    margin-top: 60px;
    background-color: #F00;
    position: relative;
}

.cross {
    position: absolute;
    background-color: #FFF;
}

#switzerland-cross-horizontal {
    height: 100px;
    width: 30px;
    top: 19%;
    left: 44%;
}

#switzerland-cross-vertical {
    height: 30px;
    width: 100px;
    top: 41%;
    left: 30%;
}

