.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.row {
    width: 100%;
    margin-bottom: 10px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 1px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin-bottom: 10px;
    background-color: #E1E1E1;
}

.column-one-half {
    width: 50%;
    background-color: #E1E1E1;
}
.column-one-third {
    width: 33.33%;
    background-color: #FF0;
}

.column-one-fourth {
    width: 25%;
    background-color: #0FF;
}

.column-one-sixth {
    width: 16.6%;
    background-color: #008000;
}

.column-one-eighth {
    width: 12.5%;
    background-color: #2F2;
}

#mixture {
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .column-one-eighth, .column-one-sixth, .column-one-fourth, .column-one-third, .column-one-half {
        width: 100%;
    }
}