h1 {
    margin-right: 100px;
    margin-top: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.hidden-on-mobile {
    display: none;
}

.nav-links {
    list-style-type: none;
    text-align: right;
}

.header-img {
    clear: both;
    margin: 0 auto;
    /*height: 385px;*/
    /*width: 890px;*/
    /*margin-bottom: 20px;*/
}

.header-img img {
    width: 100%;
}

.main {
    text-align: match-parent;
    box-sizing: border-box;
    padding: 15px;

}

.sub-section {
    font-style: italic;
    text-align: match-parent;
    box-sizing: border-box;
    padding: 15px;
}

footer {
    margin-top: 500px;
}

/*#social-media-links ul {*/
    /*height: 10px;*/
    /*width: 10px;*/
    /*display: inline-block;*/
    /*list-style-type: none;*/
/*}*/

@media screen and (max-width: 768px) {
    .alert-info  {
        display: block;
        border: 1px solid gray;
        background-color: #CCFFFF;
        padding: 20px;
        text-align: center;

    }

    .alert-info>a {
        text-decoration: none;
        color: #000;

    }

    h1 {
        border: hidden;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    li {
        display: block;
        border: 1px solid #ccc;
        background-color: #ccc;
        padding: 10px;
        margin-bottom: 10px;
        font-family: 'Saira Condensed', sans-serif;
    }

    .nav-links {
        list-style-type: none;
        /*float: right;*/
        text-align: center;
    }

    .main {
        box-sizing: border-box;

    }
     .sub-section {
         box-sizing: border-box;
     }

}